.Header {
    position: fixed;
    width: 100%;
    z-index: 32;
    padding: 16px;
    font-size: 30px;
    line-height: 1.5;
    background-color: #333333;   
}

#menu {
    margin-left: 10px;
    margin-right: 10px;
}

.initial {
    position: relative;
    top: 80px;
}

img {
    width: 150px;
    padding: 10px;
    box-shadow: 3px 3px 7px black;
    margin: 1%;
}