body {
    background-color: rgb(0, 200, 255);
}


.Header {
    position: relative;
    width: 100%;
    z-index: 32;
    padding: 16px;
    font-size: 30px;
    line-height: 1.5;
    background-color: #333333;   
}

#menu {
    margin-left: 10px;
    margin-right: 10px;
    color:  rgb(0, 200, 255);
}

.initial {
    position: relative;
    top: 10px;
}

.videoInitial {
    position: relative;
    top: 40px;
}

img {
    background-color: white;
    width: 150px;
    padding: 10px;
    box-shadow: 3px 3px 7px black;
    margin: 1%;
}

h2 {
   color: white;
}